/*--
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- Reset-Code --*/

body {
	padding: 0;
	margin: 0;
	background:#e54848;
	font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;

}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
    
	font-family: 'PT Sans Caption', sans-serif;
    text-transform: uppercase   ;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}
img {
    vertical-align: middle;
    
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
#tabla{
    color:white;

}
.cuenta{
    color:white;
}
#kit{padding: 5%;
    background-color: black;
background-image: url("/images/kit.jpg");    
background-repeat: no-repeat;
    background-attachment: fixed;
color:white;

}
#inkit{padding: 3%;
background-color: rgba(0, 0, 0, 0.9);
background-repeat: no-repeat;

}
#kitli li{
    padding: 2%;
}
#kitli{
    
    list-style-type: none;
}
#loader {
  position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible;
  height: 100%;
  width: 100%;
  background-color: black;

  }
#regla1{

    font-size: 120%;
    padding:2%;

}
#regla2{
    font-size: 120%;
    padding:2%;

}
#regla3{
    font-size: 120%;
    padding:2%;

}
#regla4{
    font-size: 120%;
    padding:2%;

}
#regla5{
    font-size: 120%;
    padding:2%;

}
#regla6{
    font-size: 120%;
    padding:2%;

}
#regla7{
    font-size: 120%;
    padding:2%;

}
#regla8{
    font-size: 120%;
    padding:2%;

}
.genero{
    display:inline  ;
    margin-left:15%;    

    
}
/*-- //Reset-Code --*/

/*-- header --*/ 
#detalles{
    text-decoration:underline;  
    font-weight:bold;
    color:white;
    cursor:pointer;
    position: relative; 
    
}
#header1{
    background-color: rgba(0,0,0,0.7);
    padding: 1%;
    
}
#text{
    font-weight:bold;
}
#pathner{
    background-color: white;
    
    padding: 3%;
}
#pathner img{
    padding: 3%;
    transition: 1s;
}
#pathner img:hover{
    padding:1% ;
    transition: 1s;
    cursor:pointer;
}
#video{
     background-image: url("/images/Videos.jpg");   
     background-repeat: no-repeat;
    background-attachment: fixed;
    padding:3%;
    color:black;
}
input[type="checkbox"]{
  width: 30px; 
  height: 30px; 
   cursor: pointer;
  margin-left:3%;
  position:relative;    
  top:10px;
  
}
#descalificados{
    list-style-type:decimal;
}
#dentro{
background-color: rgba(198, 195, 197, 0.9);
color: black;

padding: 2%;
}
#reglamento{
    padding:3%;
    
    background-image: url("/images/rules.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}
#regla {

    text-transform: capitalize;     


}
#regla>span{
    cursor:pointer;
    font-size: 170%;
    float: right;
}

.banner{
	position: relative;
}
.header {
    padding: 3em 0 5em;
    position: absolute;
    z-index: 100;
    width: 100%;
}
.header-mdl.agileits-logo {
    text-align: center; 
}
.agileits-logo h1 {
    font-size: 4em;
    letter-spacing: 0px;
    display: inline-block;
}
.agileits-logo h1 a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
} 
/*-- top-nav --*/ 
.header-nav ul.nav.navbar-nav {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 3em;
} 
.navbar-default {
    background: none;
    border: none;
	margin: 0;
}  
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #99abd5;
    background: none;
}
.navbar-nav > li {
	display: inline-block;
	float:none;
    margin: 0 1em;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    padding: 8px 10px;
	border: 2px solid #fff;
    position: relative;
    letter-spacing: 2px;
} 
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav li a.active {
    color: #fff;
} 
.navbar-default .navbar-nav li  a:hover:before,.navbar-default .navbar-nav li a.active:before{
	width: 100%;
} 
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
    color: #fff;
}
ul.dropdown-menu {
    top: 100%;
    background: rgba(0, 0, 0, 0.9);
    border: none;
	padding: 0;
}
.dropdown-menu > li > a {
    padding: 10px 20px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a.active {
    text-decoration: none;
    background: none;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background:#e54848;
    border: 2px solid #e54848;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: black;
    text-decoration: none;
    background-color: #e54848;
}
/*-- //top-nav --*/

/*-- //header --*/
/*-- banner --*/
li#callbacks1_s0 {
    background: url(../images/b2.jpg) no-repeat 0px 0px;
    background-size: cover;
	min-height: 770px;
}
li#callbacks1_s1 {
    background: url(../images/b1.jpg) no-repeat 0px 0px;
    background-size: cover;
	min-height: 770px;
}
li#callbacks1_s2 {
    background: url(../images/b3.jpg) no-repeat 0px 0px;
    background-size: cover;
	min-height: 770px;
}
li#callbacks1_s3 {
    background: url(../images/b4.jpg) no-repeat 0px 0px;
    background-size: cover;
	min-height: 770px;
}
li#callbacks1_s4 {
    background: url(../images/b4.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 770px;
}
li#callbacks1_s5 {
    background: url(../images/b2.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 770px;
}
li#callbacks1_s6 {
    background: url(../images/b3.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 770px;
}
li#callbacks1_s7 {
    background: url(../images/b1.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 770px;
}
.banner1 {
    background: url(../images/b1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
	min-height:300px;
}
.wthree-different-dot {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
	min-height: 770px;
}
.wthree-different-dot1 {
	padding: 5em 0;
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
.banner_text{
    text-align: center;
    padding: 18em 0 0em;
}
.banner1 h2 {
    text-align: center;
    padding-top: 4em;
    font-size: 50px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
}
.banner_text h3,.banner_text h2 {
    color: #FFFFFF;
    font-size: 2em;
    margin-top: .4em;
    letter-spacing: 5px;
    margin-bottom: .5em;
    font-weight: 700;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.8);
}
.banner_text p {
    line-height: 28px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    width: 70%;
    margin: 0 auto;
}
.w3-button a:hover{
    color: #212121;
    background: #FFC107;
    border: solid 2px #FFC107;
}
.w3-button a:focus{
	outline:none;
}
.w3-button {
    position: relative;
    margin: 1em 0;
    padding: 1em;
    z-index: 1;
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
	position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 50%;
    left: 20%;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 25px;
    height: 30px;
    background: transparent url(../images/arrows.png) no-repeat left top;
}
 .callbacks_nav:hover{
  	opacity: 0.3;
  }
.callbacks_nav.next {
    background-position: right bottom;
    left: 80%;
    top: 45%;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left bottom;
	left:18%;
    top: 45%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    bottom: 23%;
    left: 47%;
    padding: 0;
    margin: 0;
    display: flex;
    z-index: 9;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
	display: block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 12px;
    width: 12px;
    display: inline-block;
    background: none;
    border: 2px solid #ffffff;
    border-radius: 50%;
}
.callbacks_here a:after{
    background: #ffffff;
    border: 2px solid #ffffff;
}
/*-- //slider --*/
.agileits-w3layouts-info img{
	width:100%;
}
.modal-body p{
    margin: 1em 0 0 0;
    font-size: .875em;
    color: #999999;
    line-height: 1.8em;
}
/*-- //banner --*/

/*--modal--*/
.modal-content  img{
	width:100%;
}
.modal-content h4 {
    color: #00BCD4;
    text-align: center;
    font-size: 26px;
    margin: 0;
    margin-bottom: .5em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
	letter-spacing: 1px;
}
.modal-content h5 {
    color: #333;
    padding-top: 25px;
    font-size: 23px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.modal-content p{
	color:#636363;
	font-size:14px;
    line-height: 28px;
    padding-top: 15px;
    letter-spacing: .5px;
}
.modal-header {
    padding: 30px;
}
/*--//modal--*/

/* Bounce To about */
.about{
    padding: 2%;
}
.thim-click-to-bottom {
    position: absolute;
    bottom: 10%;
    left: 48.9%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
}
.thim-click-to-bottom i {
    color: #fff;
    padding: 15px 10px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 30px;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

/* //Bounce To About */

/*-- stats --*/
.stats {
    background: url(../images/b3.jpg) no-repeat fixed;
    background-size: cover;
}

.stats h3.heading{
	color:#fff;
}
.travel span.glyphicon.glyphicon-play-circle {
    margin-bottom: 0;
}
p.counter{
	font-size: 3em;
    color: #eee;
    font-weight: bold;
}
.agileinfo_stats_grid h3{
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
}
.w3_agileits_head1{
	color:#212121 !important;
}
.agileinfo_stats_grid {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin: 0 auto;
    text-align: center;
    padding: 2.5em 0;
}
.agileinfo_stats.mid-w3l-stat {
	position: relative;
}
.agileinfo_stats.mid-w3l-stat:after, .agileinfo_stats.mid-w3l-stat:after {
    content: '';
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: -3%;
}
p.w3l-par-st {
    margin-top: 3em;
    color: #fff;
    text-align: left;
}
/*-- //stats --*/

/* tabs */
.tab1 img {
    width: 100%;
    border-radius: 50%;
}
.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    float: left;
    width: 68%;
    min-height: 417px;
    clear: none;
	border-radius:0px;
}
.demo li {
    list-style-type: none;
    display: inline;
}
.tabs-right1 h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #000;
}
.tabs-right1 h4 {
    color: #000;
    letter-spacing: 2px;
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #adadad;
}
.social i.fa {
    font-size: 15px;
    text-align: center;
    line-height: 35px;
    width: 35px;
    height: 35px;
    color: #000;
    margin-bottom: 17px;
}
.social i.fa.fa-facebook {
    color: #fff;
    background: #3b5998;
}
.social i.fa.fa-twitter {
    color: #fff;
    background: #1da1f2;
}
.social i.fa.fa-google-plus {
    color: #fff;
    background: #dd4b39;
}
.social i.fa.fa-dribbble {
    color: #fff;
    background: #444444;
}
.tab-bottom p {
    font-style: italic;
    margin: 5px 0;
    font-size: 15px;
}
.tab-bottom i.fa {
    font-size: 18px;
    margin-right: 15px;
    color: #00bcd4;
}
.tabs-right1 p {
    color: #4a4a4a;
    font-size: 13.5px;
    line-height: 27px;
    margin: 10px 0;
    letter-spacing: 1px;
}
.demo .heading h3 {
    margin-bottom: 50px;
}
.tab-bottom a {
    color: #999;
    letter-spacing: 3px;
}
.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 13px 13px !important;
    margin: 0;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    float: none;
}
.resp-vtabs li.resp-tab-active {
    border-right: none;
    background-color: #00BCD4;
    position: relative;
    z-index: 1;
}
.resp-tab-item.resp-tab-active .tab1 h4,.resp-tab-item.resp-tab-active .tab1 h3 {
    color: #fff;
}
.demo li.resp-tab-item.resp-tab-active::after {
    content: '';
    position: absolute;
    left: 100%;
    transform: rotate(360deg);
    top: 30%;
    border-left: 0;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 20px solid #00BCD4;
    background: transparent;
}
.tab1 h3 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #444;
    margin-top: 15px;
}
.tab1 h4 {
    letter-spacing: 2px;
    margin-top: 8px;
    color: #888;
    font-size: 15px;
    text-transform: capitalize;
}
.tab1 {
    padding: 0 1em;
}
.demo{
	padding: 5em 0;
}
/* tabs */

/*-- contact --*/
.w3ls_map iframe {
	width: 100%;
	min-height: 300px;
}

.contact_wthreerow,
.agileits_mail_grid_right_grid:nth-child(2) {
	margin-top: 3em;
}

.w3l_contact_form {
	padding-right: 5em;
}

.contact_wthreerow h4 {
	font-size: 1.7em;
	color: #000000;
	margin-bottom: 1em;
}

.w3l_contact_form input[type="text"],
.w3l_contact_form input[type="email"],
.w3l_contact_form textarea {
	outline: none;
    width: 100%;
    padding: .9em 1em;
    font-size: 14px;

	color: #888;
	border: none;
	border: 1px solid #777;
	background: none;
}

.w3l_contact_form input[type="email"] {
	margin: 1.5em 0;
}

.w3l_contact_form textarea {
	min-height: 120px;
	resize: none;
	margin: 1.5em 0;
}

.w3l_contact_form input[type="submit"] {
    outline: none;
    padding: .8em 3em;
    font-size: 15px;
    color: #fff;
    border: none;
    background: #00BCD4;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
}

.w3l_contact_form input[type="submit"]:hover {
	background: #333;
	color: #fff;
}

ul.contact_info li {
    list-style-type: none;
    margin-top: 1.5em;
    letter-spacing: 1px;
    color: #5a5a5a;
    font-size: 1em;
}

ul.contact_info li span {
	color: #fff;
	background: #333;
	width:40px;
	height:40px;
	text-align: center;
	line-height: 40px;
	border-radius: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	margin-right: 1em;
	font-size: .9em;
}

ul.contact_info li a {
    color: #5a5a5a;
	text-decoration: none;
}

ul.contact_info li a:hover {
	color: #4CAF50;
}
.contact,.agile_testimonials,.packages,.w3-about,.travel {
    padding: 5em 0;
}
.agileits_mail_grid_right_grid p {
    font-size: 16px;
    line-height: 28px;
    color: #333;
}
.w3-about h4 {
    text-transform: uppercase;
    margin: 0em 0 1em;
    color: #000;
    font-size: 1.4em;
    line-height: 32px;
    text-align: left;
    font-weight: 500;
}
.last h4 {
    text-align: center;
    text-transform: capitalize;
}

.about-top p {
    text-align: left;
}
.last p {
    text-align: center;
}
.middle-img img {
    width: 100%;
}
/*-- //contact --*/

/*-- pricing --*/
.pricing{
	padding: 5em 0;
}
h3.heading {
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 1em;
    text-transform: capitalize;
    color:white;
}
h3.heading span{
    font-weight: 400;
    color: #e54848;
	
}
.agileits-pricing-grid {
    float: left;
    width: 24%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.agileits-pricing-grid:hover {
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -o-transform: scale(1.06);
    -ms-transform: scale(1.06);
    z-index: 1;
}
.agileits-pricing-grid:nth-child(2){
	margin:0 1em;
}
.agileits-pricing-grid:nth-child(3){
	margin-right: 1em;
}
.pricing-top{
    padding: 2em 0 0;
    background: #e04646;
    text-align: center;
}
.blue-top{
    background: #fb8a2e !important;
}
.green-top{
    background: #0091cd !important;
}
.yellow-top{
    background: #00ad45 !important;
}

.pricing-top h3{
	color: #FFF;
    font-size: 1.5em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.wthree-pricing-info{
    padding: 0em 0 1em;
    background: #e04646;
}
.wthree-pricing-info p{
	color:#FFFFFF;
	font-size:1em;
	margin:0;
	text-align:center;
}
.wthree-pricing-info p span{
    font-size: 4em;
    font-weight: 600;
}
.pricing-bottom{
    background: #FFF;
    padding: 0em 0 2em 0em;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
}
.pricing-bottom-top {
    padding: 1em 0;
    background: #fd5c63;
}
.pricing-bottom-top p{
    color: #212121;
    margin: 0;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
}
.pricing-bottom-bottom{
    padding: 3em 2em 3em 2em;
    border: 1px solid #dcdcdc;
}
.pricing-bottom-bottom p{
	color: #333;
    font-size: 15px;
    margin: 0 0 1em 0;
    font-family: 'PT Sans Caption', sans-serif;
}
.buy-button {
    margin-top: 7px;
    text-align: center;
}
.pricing-bottom-bottom p span{
	font-weight: 700;
	color: #333;
	letter-spacing: 1px;
}
.pricing-bottom-bottom p span.fa {
    width: 25px;
    color: #999;
}
p.text {
    margin-bottom: 0;
}
.buy-button a{
    background: #00ad45;
    padding: .5em 1.5em;
	border: solid 1px #00ad45;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'PT Sans Caption', sans-serif;
}
.buy-button a:hover{
	background: none;
	border: solid 1px #00ad45;
	color:#00ad45;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
.first .buy-button a{
	background: #c73a40;
	border: solid 1px #c73a40;
}
.first .buy-button a:hover{
	background: none;
	border: solid 1px #c73a40;
	color: #c73a40;
}
.second .buy-button a{
	background: #fb8a2e;
	border: solid 1px #fb8a2e;
}
.second .buy-button a:hover{
	background: none;
	border: solid 1px #fb8a2e;
	color: #fb8a2e;
}
.third .buy-button a{
	background: #0091cd;
	border: solid 1px #0091cd;
}
.third .buy-button a:hover{
	background: none;
	border: solid 1px #0091cd;
	color: #0091cd;
}
.blue-pricing-bottom-top{
}
.blue-pricing-bottom-top:nth-child(2){
	border-top: solid 1px #1085bf;
}
.green-pricing-bottom-top{
}
.green-pricing-bottom-top:nth-child(2){
    border-top: solid 1px #609835;
}
/*-- //pricing --*/
#small-dialog,#small-dialog1,#small-dialog2,#small-dialog3,#small-dialog4,#small-dialog5{
    background: white;
    padding: 0;
    max-width: 500px;
    margin: 39px auto;
    position: relative;
    text-align: center;
    border-radius: 5px;
}
/* start state */
.my-mfp-zoom-in #small-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
/**
/* Magnific Popup CSS */
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background:#151515;
	opacity: 0.8;
	filter: alpha(opacity=80); }
.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden; }
.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }
.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle; }
.mfp-align-top .mfp-container:before {
	display: none; }
.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045; }
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto; }
.mfp-ajax-cur {
	cursor: progress; }
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out; }
.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in; 
}
.mfp-auto-cursor .mfp-content {
	cursor: auto; }
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none; 
}
.mfp-loading.mfp-figure {
	display: none; }
.mfp-hide {
  display: none !important; 
}
.mfp-content iframe{
	width:100%;
	min-height:500px;
}
.mfp-preloader {
	color: #cccccc;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	left: 8px;
	right: 8px;
	z-index: 1044; 
}
.mfp-preloader a {
	color: #cccccc; 
}
.mfp-preloader a:hover {
	color: white; 
}
.mfp-s-ready .mfp-preloader {
	display: none; 
}
.mfp-s-error .mfp-content {
	display: none; 
}
button.mfp-close,button.mfp-arrow {
	overflow: visible;
    cursor: pointer;
    border: 0;
    background: #dadada;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 1046;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0; 
}
.mfp-close {
    width: 35px;
    height: 35px;
    line-height: 17px;
    position: absolute;
    right: 0%;
    top:0%;
    text-decoration: none;
    text-align: center;
    color: white;
    font-style: normal;
    font-size: 28px;
    outline: none;
    padding: 0 !important;
}
.mfp-close:hover, .mfp-close:focus {
    opacity: 1; 
}
.mfp-close-btn-in .mfp-close {
    color: #212121;
    padding: 0 0 7px 0px;
}
.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close {
	color: white;
	right: -6px;
	text-align: right;
	padding-right: 6px;
	width: 100%; 
}
/*-- registration --*/
.signin-form {
    background: #ffffff;
    background-size: cover;
    padding: 2em 2em;
    text-align: center;
    margin: 0 auto;
}
.signin-form h3 {
    font-size: 2em;
    color: #00BCD4;
    font-weight: 700;
    margin: 1em 0;
    text-transform: uppercase;
}
.signin-form h3 span {
    color: #67e1ff;
}
.signin-form img {
    border-radius: 50%;
}
.login-form {
    margin: 1em 0 2.5em;
}
.signin-form input[type="email"],.signin-form input[type="text"], .signin-form input[type="password"] {
    width: 94%;
    padding: 1em 1em 1em 1em;
    font-size: 0.9em;
    margin: 1em 0;
    outline: none;
    color: #212121;
    border: none;
    border-bottom: 1px solid #666;
    letter-spacing: 1px;
}
.signin-form input[type="email"] {
    background: none;
    display: block;
}
.signin-form input[type="text"] {
    background: none;
    display: block;
}
.signin-form input[type="password"] {
     background: none;
    display: block;
}
::-webkit-input-placeholder{
	color:#666 !important;
}
.signin-form input[type="submit"] {
    outline: none;
    padding: 0.9em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    background: #00BCD4;
    letter-spacing: 2px;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);	
}
.signin-form input[type="submit"]:hover {
    color: #fff;
    background: #212121;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.signin-form p a {
    font-size: 0.875em;
    color: #212121;
    letter-spacing: 1px;
}
/*-- // pricing --*/

/* about */
.about{
	padding: 5em 0;
    background-image: url("/images/form.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.gridicon i.fa {
    font-size: 2em;
    border: 2px dotted #00BCD4;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 2em;
    color: #333;
}
.gridtext h4 {
	color:#222;
    margin: 0 0 0.6em 0;
    font-size: 1.4em;
	text-transform: uppercase;
}
.gridtext p {
    color: #777;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: .5px;
	font-family: 'Open Sans', sans-serif;
}
.about-left-grids h3 {
    color: #484848;
    font-size: 22px;
    text-transform: capitalize;
}
.about-left-top,.about-left-bottom {
    margin: 3em 0 0 0;
}
.about .col-md-2.gridicon,.about .col-md-4.gridtext,.about .col-md-6 {
    padding: 0;
}
.gridicon {
    width: 9%;
}
.gridtext {
    margin: 0 1em;
    width: 37%;
}
.about-right img {
    width: 100%;
}
.about-w3-grids h4 {
    color: #fff;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-size: 21px;
    margin: 10px 0 20px;
}
p.para-agileits-w3layouts {
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #e4e4e4;
    line-height: 26px;
    margin-bottom: 10px;
}
.about-w3-grids {
    padding: 30px 25px;
}
.about-btm-wthree {
    margin-top: 5em;
}
.about-w3-grids {
    background: #00BCD4;
}
.about-w3-grids a {
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
}
 .about-w3-grids.grid1 {
    background: #fb8a2e;
}
 .about-w3-grids.grid2 {
    background: #e04646;
}
.about-w3-grids:hover {
	opacity: 0.8;
}
/* //about */

/*-- our classes --*/
.popular_classes{
	padding: 5em 0;
}
.classes_grid1 h3 {
    text-align: center;
    font-size: 20px;
    color: #292929;
    margin: 1em 0 0;
}
.classes_grid1 p {
    text-align: center;
    font-size: 14px;
    color: #777;
	letter-spacing: 1px;
	line-height: 26px;
    margin: .5em 0;
}
.classes_bottom_grids {
    margin-top: 2em;
}
.classes_grid1 {
    padding-bottom: 1em;
}
/*-- //our classes --*/

/*-- clients --*/
.clients-main{
	background: url(../images/testimonial.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.clients-main h3.heading {
    font-weight: 400;
    color: #eee;
}
.cli-ent {
    width: 60%;
    margin: 0 auto;
}
.contact-w3layouts h3,
.clients h3 {
	color: #000!important;
}
.spldishes-w3left {
	padding: 2.3em;
	background-color: #fd463e;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	transition: .5s all;
}
.w3agile-spldishes p.para-agileits-w3layouts {
	color: #8a8888!important;
}
.spldishes-agileinfo:hover .spldishes-w3left {
	background-color: #09c4dc;
}
.spldishes-agileinfo {
	margin-top: 4em;
}
.spldishes-agileinfo h5 {
	font-size: 2em;
	color: #fff;
}
.spldishes-w3left p {
	color: #fff;
	margin-top: 1.4em;
}
.spldishes-grids {
	padding: 0;
}
.g1 {
	position: relative;
	display: block;
	padding: 0em 0em 3em;
	margin: 0em 0em 0em 1em;
}
.agile-dish-caption h4 {
    font-size: 30px;
    color: #fff;
    margin: 0.6em 0;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.agile-dish-caption h5 {
    font-size: 18px;
    color: #eee;
    margin: 0.6em 0;
    text-transform: capitalize;
    letter-spacing: 1px;
	font-weight: 600;
}
.agile-dish-caption h3 {
	font-weight: bold;
	color: #3d3d3d;
}
.agile-dish-caption span {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    color: #999;
    font-weight: 300;
    display: block;
}
#owl-demo .item img {
	width: 100px;
}
p.para-w3-agile {
    color: #eee;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
	text-align: center;
}
.agile-dish-caption {
    text-align: center;
}
.flexslider .slides img {
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 4px solid #fff;
}
.g1 p span.fa {
	font-size: 1.8em;
	color:#eee;
	margin-right: 0.5em;
}
@media(max-width:480px) {
	.agile-dish-caption {
		padding: 0.5em;
	}
	.agile-dish-caption span {
		font-size: 0.8em;
	}
}
.client-eql {
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
/*-- //clients --*/

/*-- footer --*/
.footer{
	padding:3em 0 2em;
	background:#111;
}
.agile-grid-left {
    text-align: center;
}
.agile-grid-left h4,.agile-grid-right h4{
    color: #FFFFFF;
    font-size: 24px;
    margin: 0 0 1em 0;
}
.agile-grid-left form input[type="email"] {
    background: #383838;
    box-shadow: none !important;
    padding: 10px 10px;
    color: #ffffff;
    font-size: 1em;
    width: 60% !important;
    font-weight: 400;
    border: none;
    margin: 0;
}
.agile-grid-left form input[type="submit"] {
    border: solid 2px #eea303;
    color: #ffffff;
    font-size: 1em;
    padding: .5em 2em;
    text-decoration: none;
    background: #eea303;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agile-grid-left form input[type="submit"]:hover {
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
	background:none;
}
.agile-grid-left form input[type="email"]:focus {
    outline: none;
}
.social ul{
	padding:0;
	margin:0;
}
.social ul li{
	display:inline-block;
}
.social ul li a {
	color: #333;
    text-align: center;
}
.social ul li a i.fa.fa-facebook{
    height: 36px;
    width: 36px;
    font-size: 1em;
    background: #3b5998;
    line-height: 36px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-facebook:hover {
	color:#3b5998;
    background: #FFFFFF;
}

.social ul li a i.fa.fa-google-plus{
    height: 36px;
    width: 36px;
    font-size: 1em;
    background: #dd4b39;
    line-height: 36px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.social ul li a i.fa.fa-google-plus:hover {
	color:#dd4b39;
    background: #FFFFFF;
}

.social ul li a i.fa.fa-pinterest{
    height: 36px;
    width: 36px;
    font-size: 1em;
    background: #bd081c;
    line-height: 36px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-pinterest:hover {
	color:#bd081c;
    background: #FFFFFF;
}
.social ul li a i.fa.fa-twitter{
    height: 36px;
    width: 36px;
    font-size: 1em;
	background: #55acee;
    line-height: 36px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-twitter:hover{
	color: #55acee;
    background: #FFFFFF;
}
.social ul li a i.fa.fa-rss{
    height: 36px;
    width: 36px;
    font-size: 1em;
	background: #f26522;
    line-height: 36px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-rss:hover{
	color: #f26522;
    background: #FFFFFF;
}
.social ul li a i.fa.fa-vk{
    height: 36px;
    width: 36px;
    font-size: 1em;
	background: #45668e;
    line-height: 36px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-vk:hover{
	color: #45668e;
    background: #FFFFFF;
}
.social ul li:nth-child(2){
	margin:0 .5em;
}
.social ul li:nth-child(3){
	margin:0 .5em 0 0;
}
.agile-nav{
	margin: 2em 0 0 0;
    text-align: center;
    padding: 2em 0;
    border-top: solid 1px #1d1d1d;
    border-bottom: 1px solid #1d1d1d;
}
.agile-nav ul{
	padding:0;
	margin:0;
}
.agile-nav ul li{
	display:inline-block;
	margin:0 1em;
}
.agile-nav ul li a{
	color:#FFFFFF;
	text-decoration:none;
    font-size: 15px;
    letter-spacing: 1px;
}
.agile-nav ul li a:hover{
	color: #00BCD4;
}
/*-- //footer --*/

/*-- copyright --*/
.copyright{
    padding-bottom: 2em;
    background: #111;
    text-align: center;
}
.copyright p{
    color: #FFFFFF;
    font-size: 15px;
    margin: 0;
    letter-spacing: 2px;
}
.copyright p a{
	color:#FFFFFF;
}
.copyright p a:hover{
	color: #00BCD4;
}
/*-- //copyright --*/

/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
    width: 64px;
    height: 64px;
	border: none;
	text-indent: 100%;
	background: url("../images/top.png") no-repeat 0px 0px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/


/*-- Responsive design --*/

@media screen and (max-width: 1440px){
	li#callbacks1_s0, li#callbacks1_s1 ,li#callbacks1_s2 ,li#callbacks1_s3, .wthree-different-dot {
		min-height: 720px;
	}
}
@media screen and (max-width: 1366px){
	li#callbacks1_s0, li#callbacks1_s1 ,li#callbacks1_s2 ,li#callbacks1_s3, .wthree-different-dot {
		min-height: 680px;
	}
}
@media screen and (max-width: 1280px){
	li#callbacks1_s0, li#callbacks1_s1 ,li#callbacks1_s2 ,li#callbacks1_s3, .wthree-different-dot {
		min-height: 650px;
	}
	.banner_text h3, .banner_text h2 {
		font-size: 4.5em;
		letter-spacing: 4px;
	}
	.header {
		padding: 2em 0 4em;
	}
	.gridicon i.fa {
		font-size: 1.8em;
		width: 55px;
		height: 55px;
	}
	.agile-dish-caption h4 {
		font-size: 28px;
	}	
}
@media screen and (max-width: 1080px){
	li#callbacks1_s0, li#callbacks1_s1 ,li#callbacks1_s2 ,li#callbacks1_s3, .wthree-different-dot {
		min-height: 630px;
	}
	.callbacks_nav.next {
		left: 85%;
	}
	.callbacks_nav.prev {
		left: 12%;
	}
	.header-nav ul.nav.navbar-nav {
		margin-top: 2em;
	}
	.navbar-nav > li {
		margin: 0 1em;
	}
	.banner_text {
		padding: 16em 0 0em;
	}
	.callbacks_nav.next, .callbacks_nav.prev {
		top: 42%;
	}
	.agileits-logo h1 {
		font-size: 3.2em;
	}
	.gridtext {
		width: 36%;
		margin-left: 1em;
		margin-right: 0;
	}
	.about-left-grids h3 {
		font-size: 20px;
	}
	.gridtext h4 {
		font-size: 1.3em;
	}
	p.para-agileits-w3layouts {
		font-size: 14px;
	}
	h3.heading {
		font-size: 40px;
	}
	.tab1 {
		padding: 0 .7em;
	}
	.tab1 h4 {
		letter-spacing: 1px;
		font-size: 14px;
	}
	.tab1 h4 {
		letter-spacing: 1px;
		font-size: 14px;
	}
	.tabs-right1 p {
		font-size: 13px;
		line-height: 25px;
	}
	.agile-dish-caption h4 {
		font-size: 26px;
	}
	.pricing-bottom-bottom p {
		font-size: 14px;
	}
	.pricing-bottom-bottom {
		padding: 2em 1em 2em 1em;
		border: 1px solid #dcdcdc;
	}
	.agileits-pricing-grid {
		width: 23.8%;
	}
	.wthree-pricing-info p span {
		font-size: 3.5em;
	}
	ul.contact_info li {
		margin-top: 1em;
		letter-spacing: 0.5px;
	}
	.w3l_contact_form {
		padding-right: 2em;
	}
	.copyright p {
		font-size: 14px;
	}
}
@media screen and (max-width: 1024px){
	.banner_text h3, .banner_text h2 {
		font-size: 4em;
		letter-spacing: 2px;
	}
	.popular_classes, .about, .wthree-different-dot1, .demo, .pricing, .contact{
		padding: 4em 0;
	}
	.agileinfo_stats_grid {
		width: 160px;
		height: 160px;
	}
	.about-w3-grids h4 {
		font-size: 19px;
	}
	.about-btm-wthree {
		margin-top: 3em;
	}
	.about-btm-wthree {
		margin-top: 3em;
	}
	p.para-w3-agile {
		font-size: 14px;
	}
	.agile-dish-caption h4 {
		font-size: 24px;
		letter-spacing: 0px;
	}
	.classes_grid1 p {
		letter-spacing: .5px;
	}
	.flex-control-nav {
		left: 45%;
	}
}
@media screen and (max-width: 991px){
	.navbar-default .navbar-nav > li > a {
		padding: 8px 15px;
	}
	.banner_text p {
		width: 80%;
	}
	.banner_text {
		padding: 15em 0 0em;
	}
	.banner_text h3, .banner_text h2 {
		font-size: 3.5em;
		margin-top: .2em;
		margin-bottom: .3em;
	}
	li#callbacks1_s0, li#callbacks1_s1 ,li#callbacks1_s2 ,li#callbacks1_s3, .wthree-different-dot {
		min-height: 580px;
	}
	.callbacks_tabs {
		left: 46%;
	}
	.gridicon {
		width: 9%;
		float: left;
	}
	.gridtext {
		width: 88%;
		float: left;
		margin-left: 1em;
		margin-right: 0;
		margin-bottom: 2em;
	}
	.about-left-bottom {
		margin: 0em 0 0 0;
	}
	.classes_grids .col-md-4 {
		width: 50%;
		float: left;
	}
	.agileinfo_stats {
		width: 25%;
		float: left;
	}
	.agileinfo_stats_grid {
		width: 130px;
		height: 130px;
		padding: 1.5em 0;
	}
	.agileinfo_stats.mid-w3l-stat:after, .agileinfo_stats.mid-w3l-stat:after {
		height: 12px;
		width: 12px;
		top: 45%;
	}
	.agileinfo_stats_grid h3 {
		font-size: 16px;
	}
	p.counter {
		font-size: 2.5em;
	}
	.tab1 {
		padding: 0 1.7em;
	}
	.agileits-pricing-grid {
		width: 48%;
	}
	.pricing-bottom-bottom {
		padding: 2em 3em 2em 3em;
	}
	.w3l_contact_form {
		padding-right: 0em;
		padding-bottom: 3em;
	}
	.agile-nav ul li {
		margin: 0 .5em;
	}
	.agile-nav ul li a {
		font-size: 14px;
	}
	.flex-control-nav {
		left: 43%;
	}
}
@media screen and (max-width: 900px){
	.agileits-logo h1 {
		font-size: 3em;
	}
	.gridtext h4 {
		font-size: 1.2em;
	}
	.gridicon i.fa {
		font-size: 1.5em;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.about-left-top {
		margin: 2em 0 0 0;
	}
	h3.heading {
		font-size: 37px;
	}
}
@media screen and (max-width: 768px){
	.banner_text h3, .banner_text h2 {
		font-size: 3.2em;
	}
	li#callbacks1_s0, li#callbacks1_s1 ,li#callbacks1_s2 ,li#callbacks1_s3, .wthree-different-dot {
		min-height: 550px;
	}
	.resp-vtabs .resp-tabs-container {
		padding: 0px;
		background-color: #fff;
		float: left;
		width: 100%;
		min-height: auto;
	}
	.col-md-4.tab1 {
		padding: 0 1.7em;
		width: 20%;
		float: left;
	}
	.tab1 {
		padding: 0 0.5em;
		float: left;
	}
	.tabs-right1, .tabs-right2 {
		width: 50%;
		float: left;
	}
	.agile-nav {
		margin: 1em 0 0 0;
	}
}
@media screen and (max-width: 767px){
	.header-mdl.agileits-logo {
		text-align: left;
		float: left;
	}
	.navbar-toggle {
		border-radius: 0px;
		margin-top: 0px;
	}
	.navbar-default .navbar-toggle {
		border-color: transparent;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-toggle .icon-bar + .icon-bar {
		margin-top: 7px;
	}
	.navbar-toggle .icon-bar {
		width: 30px;
		height: 2px;
	}
	.banner_text {
		padding: 13em 0 0em;
	}
	.callbacks_nav.next, .callbacks_nav.prev {
		top: 36%;
	}
	.navbar-nav > li {
		display: block;
		float: none;
		margin: 1em auto 1em;
		width: 30%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: transparent;
		background: #000;
	}
	.navbar-nav {
		margin: 0;
	}
	.header-nav ul.nav.navbar-nav {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
		border: 1px solid #fff;
		padding: 10px;
		text-align: center;
		margin-top: 8px;
	}
	.navbar-default .navbar-nav > li > a {
		border: 1px solid #fff;
	}
	.navbar-default .navbar-nav > li > a:hover {
		border: 1px solid #00BCD4;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fff;
		background-color:  #00BCD4;
		border: 1px solid #00BCD4;
	}
	
}
@media screen and (max-width: 736px){
	.agileits-pricing-grid:nth-child(2) {
		margin: 0 1em;
		margin-right: 0;
	}
	.g1 {
		margin: 0em 0em 0em 0em;
	}
}
@media screen and (max-width: 667px){
	.banner_text {
		padding: 11em 0 0em;
	}
	.callbacks_nav.prev {
		left: 8%;
	}
	.callbacks_nav.next {
		left: 89%;
	}
	li#callbacks1_s0, li#callbacks1_s1 ,li#callbacks1_s2 ,li#callbacks1_s3, .wthree-different-dot {
		min-height: 520px;
	}
	.banner_text h3, .banner_text h2 {
		font-size: 3em;
	}
	.agileits-logo h1 {
		font-size: 2.8em;
	}
	.about-left-grids h3 {
		font-size: 19px;
	}
	.resp-tab-content {
		padding: 20px 15px;
	}
	.tabs-right1 p {
		letter-spacing: 0px;
	}
	.social i.fa {
		font-size: 12px;
		line-height: 30px;
		width: 30px;
		height: 30px;
		margin-bottom: 5px;
	}
	.tabs-right1 h4 {
		letter-spacing: 1px;
		font-size: 15px;
		margin-bottom: 20px;
	}
	.agile-dish-caption h4 {
		font-size: 20px;
	}
	.flex-control-nav {
		left: 41%;
	}
	.g1 {
		margin: 0em 0em 0em 0em;
		padding: 0em 0em 0em 1em;
	}
}
@media screen and (max-width: 640px){
	.navbar-default .navbar-nav > li > a,.dropdown-menu > li > a {
		letter-spacing: 1px;
	}
	li#callbacks1_s0, li#callbacks1_s1 ,li#callbacks1_s2 ,li#callbacks1_s3, .wthree-different-dot {
		min-height: 500px;
	}
	.classes_grid1 p {
		letter-spacing: 0px;
	}
	.classes_grid1 h3 {
		font-size: 18px;
	}
	.agileinfo_stats.mid-w3l-stat:after, .agileinfo_stats.mid-w3l-stat:after {
		height: 10px;
		width: 10px;
		top: 49%;
		left: 0%;
	}
	.agileinfo_stats_grid {
		width: 120px;
		height: 120px;
		padding: 1.1em 0;
	}
	.copyright p {
		letter-spacing: 1px;
	}
	.agile-grid-left h4, .agile-grid-right h4 {
		font-size: 20px;
	}
	.contact_wthreerow h4 {
		font-size: 1.5em;
		margin-bottom: .5em;
	}
	.agileits_mail_grid_right_grid p {
		font-size: 15px;
	}
}

@media screen and (max-width: 600px){
	.agileits-logo h1 {
		font-size: 2.5em;
	}
	li#callbacks1_s0, li#callbacks1_s1 ,li#callbacks1_s2 ,li#callbacks1_s3, .wthree-different-dot {
		min-height: 480px;
	}
	.banner_text {
		padding: 10em 0 0em;
	}
	.banner_text h3, .banner_text h2 {
		font-size: 2.6em;
	}
	.callbacks_tabs {
		left: 44%;
	}
	.pricing-top h3 {
		font-size: 1.3em;
	}
	.pricing-bottom-bottom {
		padding: 2em 2em 2em 2em;
	}
	.agile-nav {
		margin: 1em 1em 0;
		padding: 1em 0;
	}
	.agile-nav ul li {
		margin: .5em;
	}
}
@media screen and (max-width: 568px){
	.navbar-nav > li {
		width: 35%;
	}
	.classes_grids .col-md-4 {
		width: 80%;
		margin: 0 auto;
		float: none;
	}
	p.counter {
		font-size: 2em;
	}
	.agileinfo_stats_grid {
		width: 110px;
		height: 110px;
	}
	.tabs-right1 h3 {
		font-size: 17px;
	}
	.tabs-right1 h4 {
		letter-spacing: 0px;
		font-size: 14px;
	}
	.tab1 h3 {
		font-size: 16px;
	}
	.tab1 h4 {
		letter-spacing: 1px;
		font-size: 13px;
	}
	.col-md-4.tab1 {
		padding: 0 1.7em;
		width: 23%;
		float: left;
	}
	.popular_classes, .about, .wthree-different-dot1, .demo, .pricing, .contact {
		padding: 3em 0;
	}
}
@media screen and (max-width: 480px){
	.banner_text h3, .banner_text h2 {
		font-size: 2.3em;
		letter-spacing: 1px;
	}
	.callbacks_nav.prev {
		left: 5%;
	}
	.callbacks_nav.next {
		left: 90%;
	}
	.gridtext {
		width: 83%;
		margin-left: 2em;
	}
	.agileinfo_stats {
		width: 50%;
		float: left;
	}
	.agileinfo_stats:nth-child(1), .agileinfo_stats:nth-child(2) {
		margin-bottom: 2em;
	}
	.tabs-right1, .tabs-right2 {
		width: 100%;
		float: none;
	}
	.col-md-4.tab1 {
		padding: 0 1em;
	}
	.agileits-pricing-grid {
		width: 70%;
		margin: 0 auto;
		float: none;
	}
	.agileits-pricing-grid:nth-child(2) {
		margin: 2em auto;
	}
	.agileits-pricing-grid:nth-child(3) {
		margin: 0em auto 2em;
	}
	.navbar-nav > li {
		width: 40%;
	}
	.cli-ent {
		width: 80%;
		margin: 0 auto;
	}
	.flex-direction-nav .flex-prev {
		left: -10%;
	}
	.flex-direction-nav .flex-next {
		background-position: right bottom;
		left: 100%;
	}
	.signin-form h3 {
		font-size: 1.5em;
	}	
	.modal-content h5 {
		font-size: 20px;
	}
}
@media screen and (max-width: 414px){
    .logo{
        margin-top: 1%;
        height:12%;
        width:12%;
    }
    
	.banner_text {
		padding: 8em 0 0em;
	}
	.banner_text p {
		width: 83%;
		letter-spacing: 0px;
	}
	.callbacks_tabs {
		left: 39%;
	}
	.thim-click-to-bottom {
		position: absolute;
		bottom: 10%;
		left: 44.9%;
	}
	.thim-click-to-bottom i {
		padding: 10px 10px;
		font-size: 13px;
	}
	li#callbacks1_s0, li#callbacks1_s1, li#callbacks1_s2, li#callbacks1_s3, .wthree-different-dot {
		min-height: 440px;
	}
	.gridtext {
		width: 81%;
		margin-left: 2em;
	}
	.about-left-grids h3 {
		font-size: 18px;
		line-height: 26px;
	}
	.classes_grids .col-md-4 {
		width: 90%;
	}
	.w3ls_map iframe {
		width: 100%;
		min-height: 250px;
	}
	.w3l_contact_form input[type="email"] {
		margin: 1em 0;
	}
	.w3l_contact_form textarea {
		margin: 1em 0;
	}
	.w3l_contact_form input[type="submit"] {
		padding: .7em 3em;
		font-size: 14px;
	}
	.navbar-nav > li {
		width: 50%;
	}
	.col-md-4.tab1 {
		width: 26%;
	}
	.modal-content p {
		font-size: 13px;
		line-height: 26px;
	}
	.modal-content h4 {
		font-size: 23px;
	}
	.signin-form input[type="submit"] {
		padding: 0.7em 0;
	}
}
@media screen and (max-width: 384px){
	.thim-click-to-bottom {
		bottom: 5%;
		left: 44.9%;
	}
	.callbacks_tabs {
		left: 38%;
		bottom: 18%;
	}
	.banner_text h3, .banner_text h2 {
		font-size: 2.3em;
		letter-spacing: 0px;
	}
	.banner_text p {
		width: 86%;
	}
	.navbar-nav > li {
		width: 55%;
	}
	.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a {
		padding: 7px 15px;
		font-size: 13px;
	}
	.navbar-nav > li {
		margin: .5em auto .5em;
	}
	h3.heading {
		font-size: 32px;
	}
	.classes_grids .col-md-4 {
		width: 100%;
	}
	.agileits-pricing-grid {
		width: 80%;
		margin: 0 auto;
		float: none;
	}
	.copyright p {
		font-size: 13px;
	}
	.navbar-toggle {
		margin-right: 0px;
	}
	.col-md-4.tab1 {
		width: 30%;
	}
	.about-left-grids h3 {
		font-size: 16px;
		line-height: 26px;
	}
	h3.heading {
		font-size: 30px;
		margin-bottom: .5em;
	}
	.signin-form input[type="email"], .signin-form input[type="text"], .signin-form input[type="password"] {
		width: 94%;
		padding: 0.5em 1em 1em 1em;
	}
}
@media screen and (max-width: 320px){
	.banner_text h3, .banner_text h2 {
		font-size: 1.8em;
		letter-spacing: 0px;
	}
	.banner_text p {
		width: 90%;
	}
	.navbar-nav > li {
		width: 67%;
	}
	.gridicon, .gridtext {
		width: 100%;
		float: none;
		margin-left: 0;
	}
	.gridicon i.fa {
		margin-bottom: 1em;
	}
	h3.heading {
		font-size: 29px;
	}
	.col-md-4.tab1 {
		padding: 0 .5em;
		width: 32%;
	}
	.tab1 h3 {
		font-size: 15px;
	}
	.cli-ent {
		width: 85%;
		margin: 0 auto;
	}
	.flex-direction-nav .flex-prev {
		left: -12%;
	}
	.agileits-pricing-grid {
		width: 90%;
	}
}
@media screen and (max-width: 1600px){
	
}
/*-- //Responsive design --*/